$aqua:rgba(22,119,255,1);
.category-dropdown-container {
    display: flex;
    gap: 20px;
    padding: 10px 20px;

font-size: 14px;
@media(max-width:600px){
    font-size: 2.5vw;
}
    &:hover {
        background-color: var(--list-hover-color);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: $aqua;
}

}