$main-color: #000c2c;
$second-color: #d23f57;
$white-color: white;
$black-color: black;
$max-width: 575px;

.checkout-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    .ant-steps-item {
        .ant-steps-item-container {
            .ant-steps-item-icon{
                .ant-steps-icon{
                    color: var(--text-color);
                    .ant-steps-finish-icon{
                        color: var(--primary-color);

                    }
                }
            }
            .ant-steps-item-content {
                .ant-steps-item-title,.ant-steps-item-description {
                    color: var(--text-color);
                }

            }

        }
    }


    .ant-steps-item-process {


        .ant-steps-item-icon {
            transition: .2s;
            -webkit-transition: .2s;
            -moz-transition: .2s;
            -ms-transition: .2s;
            -o-transition: .2s;

            @media (max-width:$max-width) {

                background-color: #d23f57;
            }

            .ant-steps-icon {

                .ant-steps-finish-icon {
                    color: #d23f57;
                }
            }
        }

        .ant-steps-item-title {
            transition: .2s;
            -webkit-transition: .2s;
            -moz-transition: .2s;
            -ms-transition: .2s;
            -o-transition: .2s;

            @media (max-width:$max-width) {
                &::after {
                    background-color: #d23f57;
                }

            }
        }
    }

    .divider {
        padding: 20px;
    }

}