$main-color: #000c2c;
$second-color: #d23f57;
$white-color: white;
$black-color: black;
$aqua:#1ac8e1;

.search-box-container{
    display: flex;
    height: 40px;
    input{
        width: 100%;
        padding-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #d8d8d8;
        outline: none;
        &::placeholder{
            color:#cccccc;
        }
        &:focus, &:hover{
            border: 1px solid $aqua;
        }
        &:focus{
            box-shadow: 0px 0px 5px 0px $aqua;
        }
    }
    .search-icon{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color:$main-color ;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        cursor: pointer;
        img{
            height: 15px;
        }
    }
}