.category-container {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    margin: auto;
    min-height:  50vw;
    width: 100%;
}