.dropdown-item-container {
    width:150px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &:hover {
        background-color: rgb(236, 235, 235);
    }

    a {
        color: black;
        font-size: 12px;
        font-weight: 600;
    }
}