body {
  margin: 0;
  font-family: "Parkinsans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-color: #f6f9fc;
  overflow-x: hidden;
  appearance: none;
  color:#000c2c;

  &::-webkit-scrollbar {
      width: 15px;
  }

  &::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
      background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

