$main-color: #2b3445;
.loading-screen-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000c2c;
    overflow: hidden;
    .logo-container{
width: 230px;
height: 10%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
.logo{
    height: 100%;
    width: 50%;
    animation: loading-animation 1.5s linear infinite;
    -webkit-animation: loading-animation 1.5s linear infinite;
}

    }
    h1{
        color: white;
    }
}
@keyframes loading-animation{
    from{
        transform: translateX(180px);
        -webkit-transform: translateX(180px);
        -moz-transform: translateX(180px);
        -ms-transform: translateX(180px);
        -o-transform: translateX(180px);
    }
    to{
        transform: translateX(-180px);
        -webkit-transform: translateX(-180px);
        -moz-transform: translateX(-180px);
        -ms-transform: translateX(-180px);
        -o-transform: translateX(-180px);
}
}